<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-brand">
            <a href="/inicio" data-link><img src="/assets/images/logo.png" alt="Gamarco Educacional" class="footer-logo"></a>

            <p>
                Consultoria que forma, transforma e gera resultados
            </p>

            <div class="footer-social">
                <a href="mailto:gabriel.correa@gamarco.com.br?subject=Contato pelo site Gamarco" target="_blank" aria-label="Email"><i class="bi bi-envelope"></i></a>
                <a href="https://wa.me/5531984460028?text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20sobre%20as%20solu%C3%A7%C3%B5es%20da%20Gamarco." target="_blank" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>

        <div class="footer-links">
            <h3>Institucional</h3>
            <a href="/gamarco" data-link>Sobre a Gamarco</a>
            <a href="/equipe" data-link>Nossa equipe</a>
            <a href="/solucoes" data-link>Soluções Gamarco</a>
            <a href="/aprenda" data-link>Conteúdos Gamarco</a>
            <a href="/contato" data-link>Fale conosco</a>
        </div>

        <div class="footer-info">
            <h3>Dados da empresa</h3>
            <p><strong>CNPJ:</strong> 65.754.748/0001-25</p>
            <p>Rua Rio Grande do Norte, 1435, Savassi</p>
            <p>Belo Horizonte/MG - CEP 30130-138</p>
            <p>gamarcoeducacional@gmail.com</p>
        </div>

        <div class="footer-certifications">
            <h3>Conteúdos Gamarco</h3>

            <!-- <div class="footer-seals">
                <img src="assets/images/stamps/selo_1.png" alt="Selo 1">
                <img src="assets/images/stamps/selo_2.png" alt="Selo 2">
                <img src="assets/images/stamps/selo_3.png" alt="Selo 3">
            </div> -->

            <div class="footer-cert-buttons">
                <a href="/fundeb" class="certification-link">Complementações FUNDEB</a>
                <a href="/dupla-matricula-aee" class="certification-link">Dupla Matrícula no AEE</a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Gamarco - Todos os direitos reservados.</p>
    </div>
</footer>