<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V5V3EVCPHH"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V5V3EVCPHH');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/assets/images/fav.ico">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="consultoria educacional, gestão pública, planejamento educacional, fundeb, fnde, dupla matrícula, políticas educacionais, financiamento da educação, aprendizagem, formação, formação de professores, capacitação">
<meta name="author" content="Gamarco Assessoria e Consultoria Educacional LTDA">
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#0f1147">
<link rel="canonical" href="{{canonical}}">
<meta property="og:title" content="{{og_title}}">
<meta property="og:description" content="{{og_description}}">
<meta property="og:image" content="{{og_image}}">
<meta property="og:url" content="{{og_url}}">
<meta property="og:type" content="{{og_type}}">
<meta property="og:site_name" content="Gamarco | Consultoria Educacional para Gestão Pública">
<meta property="og:locale" content="pt_BR">
<meta name="robots" content="index, follow">
<link rel="preload" href="/css/bootstrap-icons-1.13.1/bootstrap-icons.min.css" as="style">
<link rel="stylesheet" href="/css/bootstrap-icons-1.13.1/bootstrap-icons.min.css">

<link rel="preload" href="/css/bootstrap-icons-1.13.1/bootstrap-icons.scss" as="style">
<link rel="stylesheet" href="/css/bootstrap-icons-1.13.1/bootstrap-icons.scss">

<link rel="preload" href="/css/style.css" as="style">
<link rel="stylesheet" href="/css/style.css">

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Gamarco Educacional",
    "url": "https://www.gamarco.com.br",
    "logo": "https://www.gamarco.com.br/assets/images/logo.png",
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+55-31-98446-0028",
        "contactType": "customer service"
    }
}
</script>